/*import font families, "Montserrat", "Fraunces"*/
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*project varaibles*/
:root {
  /*theme*/
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-white: hsl(0, 0%, 100%);

  /*font sizes*/
  --font-base: clamp(0.6rem, 2.4vw, 1.1rem);
  --font-lg: clamp(1.4rem, 5.2vw, 2.5rem);

  /*sizes*/
  --container-width: clamp(20rem, 46vw, 80rem);
  --container-height: clamp(36rem, 34vw, 52rem);

  /*border radiuses*/
  --container-raidus: 1rem;
  --cta-radius: 0.8rem;

  /*paddings*/
  --content-padding: clamp(1rem, 1vw, 2rem);
  --cta-padding: clamp(1.2rem, 1.2vw, 2.2rem);

  /*gaps*/
  --container-gap: clamp(1.1rem, 1.1vw, 2.1rem);
  --content-gap: clamp(1.3rem, 1.3vw, 2.3rem);
  --prices-gap: clamp(1.6rem, 1.6vw, 2.4rem);
  --cta-gap: clamp(1.3rem, 1.5vw, 2.4rem);
}

/*default styles*/
html,
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*size*/
  width: 100dvw;
  height: 100dvh;

  /*1rem = 10px*/
  font-size: 62.5%;
  /*default font family*/
  font-family: "Montserrat", sans-serif;

  overflow: hidden;

  /*background color*/
  background-color: var(--color-cream);
}

main {
  /*size*/
  width: 100%;
  height: 100%;

  /*to center the container*/
  position: relative;
}

/*fit images*/
img {
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

button {
  border: none;
  outline: none;
  background: none;
}

/*container*/
.container {
  /*position it to the center*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*size*/
  width: var(--container-width);
  max-width: 80%;
  height: auto;

  /*display*/
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--container-gap);

  /*border*/
  border-radius: var(--container-raidus);

  background-color: var(--color-white);
}

/*images*/
.image-mobile {
  width: 100%;

  display: flex;

  /*border*/
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.image-mobile img {
  /*image size*/
  width: 100%;
  height: auto;
}

.image-desktop {
  height: 100%;

  display: none;

  /*border*/
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.image-desktop img {
  /*image size*/
  height: 100%;
  width: auto;
}

/*content*/
.content {
  /*size*/
  width: 100%;
  height: auto;

  /*display*/
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: var(--content-gap);

  /*padding*/
  padding: var(--content-padding);
}

/*product*/
.product h5 {
  /*typography*/
  font-size: var(--font-base);
  color: var(--color-grey);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 500;
}

/*header*/
.header h3 {
  /*typography*/
  font-family: "Fraunces", sans-serif;
  font-size: var(--font-lg);
  text-transform: capitalize;
}

/*text*/
.text p {
  /*typography*/
  font-size: var(--font-base);
  color: var(--color-grey);
  line-height: 1.7;
  font-weight: 600;
}

/*prices*/
.prices {
  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--prices-gap);
}

.prices p:first-child {
  /*typography*/
  font-family: "Fraunces", sans-serif;
  font-size: var(--font-lg);
  color: var(--color-green-500);
  font-weight: 900;
}

.prices p:last-child {
  /*typography*/
  font-size: var(--font-base);
  text-decoration: line-through;
  color: var(--color-grey);
  font-weight: 600;
}

/*call to action*/
.cta {
  /*size*/
  width: 100%;

  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--cta-gap);

  /*padding*/
  padding: var(--cta-padding);

  /*border radius*/
  border-radius: var(--cta-radius);

  color: var(--color-white);
  font-size: var(--font-base);

  /*background*/
  background-color: var(--color-green-500);

  cursor: pointer;
}

.cta:hover {
  background-color: var(--color-green-700);
}

.cta img {
  width: var(--font-base);
}

/*media queries*/
@media (min-width: 768px) {
  .container {
    height: var(--container-height);
    min-width: fit-content;
    flex-direction: row;
  }

  /*swap images*/
  .image-mobile {
    display: none;
  }

  .image-desktop {
    display: flex;
  }
}

@media (min-width: 1280px) {
  :root {
    /*limit the container width*/
    --container-width: clamp(20rem, 46vw, 30rem);
    /*increase the font sizes gradually*/
    --font-base: clamp(0.6rem, 1vw, 2.4rem);
    --font-lg: clamp(1.4rem, 3vw, 3.2rem);
  }
}
